.container {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.76);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container p {
  text-align: center;
  color: aliceblue;
  font-size: 14px;
}
.container span {
  color: aliceblue;
}
