.form > div {
  height: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form label {
  margin-top: 15px;
  font-size: 1.1em;
  font-weight: 600;
}
.form input {
  padding-left: 10px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: rgba(34, 34, 34, 0.671);
  color: aliceblue;
}
.title_container {
  width: 100%;
  display: flex;

  align-items: center;
}
.title {
  position: absolute;
  text-align: center;
  width: 100%;
}
.icon {
  z-index: 10;
  color: rgba(34, 34, 34, 0.747);
}
.icon:hover {
  color: black;
  transform: scale(0.9);
  cursor: pointer;
  transition-duration: 0.2s;
}

.form input::placeholder {
  color: rgba(240, 248, 255, 0.651);
  font-size: 1.2em;
  letter-spacing: 0.1em;
}
.subtitle {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hidden {
  display: none;
}
.form {
}
.show_form {
  height: 620px;
  width: 100%;
}

.show_form > button {
}
