.app_container {
  width: 100vw;
  min-height: 100vh;
  max-height: 100%;
  max-width: 100%;
  background-image: url("../public/pics/pexels-tima-miroshnichenko-6388457.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.main {
  width: 100%;
}
